p {
    margin: 0;
}

.lembrete{
    display: flex;
    margin-top: 16px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 0px;
    padding: 0;
    background-color: rgba(80, 200, 239, 0.4);
    border: none;
    border-radius: 25px;
    height: 138px;
    width: 310px;
    font-size: 24px;
}

.textHora{
    font-size: 48px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diaNaoSelecionado{
    color: white;
}

.botao {
    margin-top: 4px;
    padding: 0;
    border: none;
    border-radius: 25px;
    height: 40px;
    width: 154px;
}

.btn-default {
    background-color: rgba(80, 200, 239, 0.8);
}

.btn-excluir {
    margin-left: 2px;
    background-color: rgba(255, 0, 0, 0.3);
}

.botao-img{
    width: 30px;
    height: 30px;
}